@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .-err{
        border: 1px solid red;
    }

    .wrapper {
        @apply w-[90%] mx-auto overflow-hidden max-w-screen-xl;
    }

    .button {
        @apply bg-bright-red text-vary-light-gray block w-max py-4 px-12 rounded-full;
    }


    .footer-area {
        grid-template-areas:
            "social-media"
            "copy";
    }

    .footer-area-md {
        grid-template-areas:
            "social-media   copy"
        ;
    }

    .slider{
        @apply grid;
        grid-template-areas: "slide";
    }

    .slider-childs{
        @apply before:absolute before:inset-0 before:bg-gradient-to-b from-transparent to-black;
        grid-area: slide;
        transition: .01s clip-path .6s;
        clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
    }

    [data-active]{
        order: 1;
        transition: .6s clip-path;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }

    .slider-prev{
        grid-area: slide;
        @apply z-[100] self-center justify-self-start;
    }

    .slider-next{
        grid-area: slide;
        @apply z-[100] self-center justify-self-end;
    }

}
